Repository cdgeorge7/python-lambda-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: other-lambda, proxy-lambda, infrastructure-dev, infrastructure-staging, infrastructure-production

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: staging
          config-path: .circleci/continue-config.yml
          mapping: |
            lambdas/other-lambda/.* other-lambda true
            lambdas/proxy-lambda/.* proxy-lambda true
            infrastructure/env/dev/.* infrastructure-dev true
            infrastructure/env/staging/.* infrastructure-staging true
            infrastructure/env/production/.* infrastructure-production true

come on
  .circleci/continue-config.yml
Due: none

test with lambda change
  lambdas/other-lambda/code/main.py
Due: other-lambda

fix
  .circleci/continue-config.yml
  lambdas/other-lambda/code/main.py
Due: other-lambda

again
  .circleci/continue-config.yml
  lambdas/other-lambda/code/main.py
Due: other-lambda

config (#24)
  .circleci/continue-config.yml
  lambdas/other-lambda/code/main.py
Due: other-lambda

fixes
  lambdas/proxy-lambda/env/dev/.terraform.lock.hcl
  lambdas/proxy-lambda/env/dev/main.tf
Due: proxy-lambda

whoops
  infrastructure/env/dev/main.tf
  infrastructure/modules/use_proxy_lambda/main.tf
  lambdas/other-lambda/code/requirements.txt
  lambdas/other-lambda/requirements.txt
  lambdas/proxy-lambda/code/main.py
  lambdas/proxy-lambda/code/requirements.txt
  lambdas/proxy-lambda/env/staging/main.tf
  lambdas/proxy-lambda/main.tf
Due: other-lambda, proxy-lambda, infrastructure-dev

oh jeeze, you're such a goof
  .circleci/continue-config.yml
Due: none

fix
  .circleci/continue-config.yml
Due: none

fix
  lambdas/other-lambda/code/tests/test_main.py
Due: other-lambda

silly me
  lambdas/proxy-lambda/code/tests/test_handler.py
Due: proxy-lambda

fix
  lambdas/proxy-lambda/code/tests/test_handler.py
Due: proxy-lambda

yaayyyyyyy the CI test worked
  lambdas/proxy-lambda/code/tests/test_handler.py
Due: proxy-lambda

fixes (#25)
  .circleci/continue-config.yml
  infrastructure/env/dev/main.tf
  infrastructure/modules/use_proxy_lambda/main.tf
  lambdas/other-lambda/code/requirements.txt
  lambdas/other-lambda/code/tests/test_main.py
  lambdas/other-lambda/requirements.txt
  lambdas/proxy-lambda/code/main.py
  lambdas/proxy-lambda/code/requirements.txt
  lambdas/proxy-lambda/code/tests/test_handler.py
  lambdas/proxy-lambda/env/dev/.terraform.lock.hcl
  lambdas/proxy-lambda/env/dev/main.tf
  lambdas/proxy-lambda/env/staging/main.tf
  lambdas/proxy-lambda/main.tf
Due: other-lambda, proxy-lambda, infrastructure-dev

fix (#26)
  .circleci/continue-config.yml
Due: none

touch
  lambdas/proxy-lambda/code/main.py
Due: proxy-lambda

touch (#27)
  lambdas/proxy-lambda/code/main.py
Due: proxy-lambda

fix
  lambdas/proxy-lambda/env/staging/main.tf
Due: proxy-lambda

fix (#28)
  lambdas/proxy-lambda/env/staging/main.tf
Due: proxy-lambda

test
  infrastructure/env/staging/main.tf
  infrastructure/modules/use_other_lambda/main.tf
  infrastructure/modules/use_proxy_lambda/main.tf
Due: infrastructure-staging

test (#29)
  infrastructure/env/staging/main.tf
  infrastructure/modules/use_other_lambda/main.tf
  infrastructure/modules/use_proxy_lambda/main.tf
Due: infrastructure-staging

fix
  infrastructure/env/staging/main.tf
Due: infrastructure-staging

fix (#30)
  infrastructure/env/staging/main.tf
Due: infrastructure-staging

test with mult functions
  .circleci/continue-config.yml
  lambdas/other-lambda/code/main.py
  lambdas/proxy-lambda/code/main.py
Due: other-lambda, proxy-lambda

test with mult functions (#31)
  .circleci/continue-config.yml
  lambdas/other-lambda/code/main.py
  lambdas/proxy-lambda/code/main.py
Due: other-lambda, proxy-lambda

Add service folder and make workflow for service
  .circleci/config.yml
  .circleci/continue-config.yml
  service1/infrastructure/env/dev/.terraform.lock.hcl
  service1/infrastructure/env/dev/main.tf
  service1/infrastructure/env/staging/main.tf
  service1/infrastructure/modules/use_other_lambda/main.tf
  service1/infrastructure/modules/use_proxy_lambda/main.tf
  service1/infrastructure/state-management/env/dev/.terraform.lock.hcl
  service1/infrastructure/state-management/env/dev/main.tf
  service1/infrastructure/state-management/env/staging/.terraform.lock.hcl
  service1/infrastructure/state-management/env/staging/main.tf
  service1/infrastructure/state-management/env/staging/terraform.tfstate.backup
  service1/lambdas/other-lambda/code/__init__.py
  service1/lambdas/other-lambda/code/main.py
  service1/lambdas/other-lambda/code/requirements.txt
  service1/lambdas/other-lambda/code/tests/__init__.py
  service1/lambdas/other-lambda/code/tests/test_main.py
  service1/lambdas/other-lambda/env/dev/.terraform.lock.hcl
  service1/lambdas/other-lambda/env/dev/main.tf
  service1/lambdas/other-lambda/env/staging/main.tf
  service1/lambdas/proxy-lambda/code/__init__.py
  service1/lambdas/proxy-lambda/code/main.py
  service1/lambdas/proxy-lambda/code/requirements.txt
  service1/lambdas/proxy-lambda/code/tests/__init__.py
  service1/lambdas/proxy-lambda/code/tests/test_handler.py
  service1/lambdas/proxy-lambda/env/dev/.terraform.lock.hcl
  service1/lambdas/proxy-lambda/env/dev/main.tf
  service1/lambdas/proxy-lambda/env/staging/main.tf
Due: none

fix variable name
  .circleci/config.yml
Due: none

fix var name
  .circleci/continue-config.yml
Due: none

add prod config
  .circleci/continue-config.yml
Due: none

using staging jobs to test prod deploy. would take time to make this generic and pass parameter, will do that with work.
  .circleci/continue-config.yml
Due: none

Feature/refactor structure (#32)
  .circleci/config.yml
  .circleci/continue-config.yml
  service1/infrastructure/env/dev/.terraform.lock.hcl
  service1/infrastructure/env/dev/main.tf
  service1/infrastructure/env/staging/main.tf
  service1/infrastructure/modules/use_other_lambda/main.tf
  service1/infrastructure/modules/use_proxy_lambda/main.tf
  service1/infrastructure/state-management/env/dev/.terraform.lock.hcl
  service1/infrastructure/state-management/env/dev/main.tf
  service1/infrastructure/state-management/env/staging/.terraform.lock.hcl
  service1/infrastructure/state-management/env/staging/main.tf
  service1/infrastructure/state-management/env/staging/terraform.tfstate.backup
  service1/lambdas/other-lambda/code/__init__.py
  service1/lambdas/other-lambda/code/main.py
  service1/lambdas/other-lambda/code/requirements.txt
  service1/lambdas/other-lambda/code/tests/__init__.py
  service1/lambdas/other-lambda/code/tests/test_main.py
  service1/lambdas/other-lambda/env/dev/.terraform.lock.hcl
  service1/lambdas/other-lambda/env/dev/main.tf
  service1/lambdas/other-lambda/env/staging/main.tf
  service1/lambdas/proxy-lambda/code/__init__.py
  service1/lambdas/proxy-lambda/code/main.py
  service1/lambdas/proxy-lambda/code/requirements.txt
  service1/lambdas/proxy-lambda/code/tests/__init__.py
  service1/lambdas/proxy-lambda/code/tests/test_handler.py
  service1/lambdas/proxy-lambda/env/dev/.terraform.lock.hcl
  service1/lambdas/proxy-lambda/env/dev/main.tf
  service1/lambdas/proxy-lambda/env/staging/main.tf
Due: none
